.patientWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 80px;
}
.patientSecondaryHeader {
  width: 100%;
  min-height: 50px;
}
.patientSecondaryHeaderNavbar{
  display: flex;
  align-items: center;
  padding:10px;
  justify-content: space-between;
}
.patientInnerDataWrapper {
  display: flex;
  height: calc(100vh - 130px);
}
.patientPagePatientCardWrapper{
  flex:0.2;
  height:100%;
}
.patientPagePatientTimelineWrapper{
  flex:0.6;
  height:100%;
  overflow-y:scroll;
}
.patientPagePatientTimelineWrapper::-webkit-scrollbar{
  display: none;
}
.patientPagePatientCalenderWrapper{
  flex:0.2;
  height:100%;
} 

